.manage-teacher-container {
    padding: 5px;

    .manage-teacher-title {
        text-align    : center;
        font-weight   : 600;
        font-size     : 20px;
        text-transform: uppercase;
        margin        : 15px 0;
    }

    .save-content-teacher {
        margin-top   : 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding      : 5px;
        border       : none;
        outline      : none;
        background   : orange;
        cursor       : pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .create-content-teacher {
        margin-top   : 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding      : 5px;
        border       : none;
        outline      : none;
        background   : rgb(79, 43, 222);
        cursor       : pointer;
        color        : white;

        &:hover {
            opacity: 0.9;
        }
    }

    .more-infor {
        display       : flex;
        gap           : 15px;
        padding-bottom: 15px;

        .content-left {
            width: 35%;
        }

        .content-right {
            width: 65%;
        }
    }
}