.preview-img-container{
    .lable-upload{
        padding: 5px;
        border-radius: 3px;
        background: #ddd;
        cursor: pointer;
        &:hover{
            opacity: 0.9;
        }
        i{
            margin-left: 3px;
        }
    }
    .preview-image{
        height: 113px;
        width: 144px;
        position: absolute;
        top: 5px;
        left: 124px;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

